/* Allgemeines Styling für den Seiten-Container */
.page-container {
  max-width: 600px;
  margin: 0 auto; /* Zentriert den Container horizontal */
  padding: 20px; /* Fügt etwas Abstand zu den Rändern hinzu */
  box-sizing: border-box; /* Bezieht Padding in die Breite mit ein */
}

/* Allgemeines Styling für die Startseite */
.start-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #f9f9f9; /* Heller Hintergrund */
    padding: 20px;
    text-align: center;
  }
  
  .start-logo {
    width: 150px;
    height: auto;
    margin-bottom: 20px;
  }
  
  .start-title {
    font-size: 24px;
    font-weight: bold;
    color: #333; /* Dunkler Text */
    margin-bottom: 30px;
  }
  
  .start-button {
    background-color: #ff5722; /* Auffällige Farbe für den Button */
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .start-button:hover {
    background-color: #e64a19; /* Dunklere Farbe beim Hover */
  }


  /* Styling für die Login-Seite */
.login-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: #f9f9f9;
  text-align: center;
  padding: 20px;
}

.login-container h1 {
  font-size: 24px;
  color: #333;
  margin-bottom: 10px;
}

.login-container p {
  font-size: 16px;
  color: #666;
  margin-bottom: 20px;
}

.login-form {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 300px;
}

.login-input {
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
}

.login-button {
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 10px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.login-button:hover {
  background-color: #0056b3;
}

.login-error {
  color: red;
  margin-top: 10px;
  font-size: 14px;
}

.reset-password-button {
  background-color: transparent;
  color: #007bff;
  border: none;
  font-size: 14px;
  cursor: pointer;
  margin-top: 10px;
  text-decoration: underline;
}

.reset-password-button:hover {
  color: #0056b3;
}

.login-success {
  color: green;
  margin-top: 10px;
  font-size: 14px;
}