/* src/styles.css */
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: #f3f4f6;
  padding: 16px;
}

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 24px;
  background-color: white;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  border-radius: 16px;
  width: 100%;
  max-width: 320px;
}

.logo {
  width: 96px;
  height: 96px;
  object-fit: contain;
  margin-bottom: 16px;
}

.title {
  font-size: 1.25rem;
  font-weight: 600;
  text-align: center;
  margin-bottom: 16px;
}

.button-link {
  width: 100%;
}

.button {
  width: 80%;
  max-width: 350px;
  background-color: #ef4444;
  color: white;
  padding: 10px;
  border-radius: 8px;
  font-size: 1rem;
  text-align: center;
  transition: background-color 0.3s;
}

.home-button {
  width: 100%;
}

.button:hover {
  background-color: #dc2626;
}

.login-container, .reset-password-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: #f3f4f6;
  flex-direction: column;
}

.input-field {
  padding: 10px;
  margin: 10px 0;
  border: 1px solid #ccc;
  border-radius: 8px;
  width: 100%;
  max-width: 300px;
}

.secondary {
  background-color: #6b7280;
}

.message {
  margin-top: 10px;
  color: red;
}
